/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019. 8. 13, 오후 7:47:16
    Author     : el181
*/

li.h{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;

    }
.anthy1{
        font-size: 30px;
        font-weight: bold;
        color:white;
}

.anthy2{
    color: #5e5e5e;
    font-size: 20px;
}
.anthy3{
    margin-bottom: 10px;
}
anthy4{
        color: #eeeeee;
}

li:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

form.margin1 {
    margin-right: 20%;
}
